body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3F704D;
}

.container {
  max-width: 80%; /* Adjust based on your design */
  margin: 50px auto;
  padding: 20px;
  background-color: #D8E4BC;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
}

p {
  color: black;
  line-height: 1.6;
}

.landing-image {
  display: block;
  margin: 0 auto; /* Center the image */
  max-width: 100%; /* Ensure image does not exceed container width */
}

/* Media Queries for Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 10px;
  }
}
/* Footer Styles */
footer {
    background-color: #32612D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}